# Ignorar checkpoints do Jupyter
.ipynb_checkpoints/

# Ignorar caches do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar logs
*.log

# Ignorar arquivos temporários
*.tmp
*.temp
*.bak

# Ignorar ambientes virtuais
venv/
.env/
.venv/

# Ignorar arquivos de configuração do VS Code
.vscode/

# Ignorar pastas de saída
out/
build/
dist/

# Ignorar arquivos grandes não versionáveis
*.h5
*.hdf5
*.ckpt
*.pth
*.pt
*.onnx